/*Preciso melhorar em alguns pontos, principalmente na responsividade*/

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --azul-escuro: rgba(10, 56, 113, 1);
    --font-padrao: "Inter", sans-serif;
    --cinza: rgba(73, 80, 87, 1);
    --azul-claro: rgba(216, 223, 232, 1);
    --cinza-escuro: rgba(52, 58, 64, 1);
}

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background: var(--azul-claro);
}

.apresentacao {
    display: flex;
    height: 100vh;
    background: var(--azul-claro);
}

.apresentacao__logo {
    max-width: 120px;
    min-width: 60px;
    max-height: 48px;
    min-height: 24px;
    margin: 3.91% 0 0 2.78%;
}

.apresentacao__entrada {
    display: flex;
    flex-direction: column;
    margin: 16% 0 0 16%;
}

.apresentacao__entrada__texto {
    width: 100%;
    height: 100%;
    max-width: 680px;
    min-width: 500px;
    max-height: 400px;
    font-family: var(--font-padrao);
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--azul-escuro);
    border: none;
    background: var(--azul-claro);
    margin-bottom: 40%;
}

::placeholder {
    font-family: var(--font-padrao);
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--azul-escuro);
}

.apresentacao__entrada__aviso {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-left: 10px;
    margin-bottom: 20px;
}

.apresentacao__entrada__aviso__esclamacao {
    width: 100%;
    height: 100%;
    max-width: 16px;
    max-height: 16px;
}

.apresentacao__entrada__aviso__paragrafo {
    font-family: var(--font-padrao);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--cinza);
    opacity: 80%;
}

.apresentacao__entrada__botoes {
    display: flex;
    width: 100%;
    max-width: 680px;
    gap: 24px;
}

.apresentacao__entrada__botoes__criptografar {
    width: 100%;
    max-width: 328px;
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    font-family: var(--font-padrao);
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    background-color: var(--azul-escuro);
    border: none;
}

.apresentacao__entrada__botoes__criptografar:hover {
    background: rgb(7, 42, 85);
    color: rgb(211, 204, 204);
}

.apresentacao__entrada__botoes__descriptografar {
    width: 100%;
    max-width: 328px;
    padding: 24px;
    border-radius: 24px;
    gap: 8px;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    background: var(--azul-claro);
    color: var(--azul-escuro);
    border: 1px var(--azul-escuro) solid;
}

.apresentacao__entrada__botoes__descriptografar:hover {
    background: rgb(182, 188, 196);
    color: rgb(7, 42, 85);
    border-color: rgb(7, 42, 85);
}

.apresentacao__saida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 2% auto;
    width: 100%;
    max-width: 400px;
    height: 100%;
    max-height: 944px;
    border-radius: 32px;
}

.apresentacao__saida__img {
    width: 100%;
    max-width: 336px;
    height: 100%;
    max-height: 304px;
    margin: 40px;
}

.apresentacao__saida__textos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    gap: 16px;
}

.apresentacao__saida__textos__titulo {
    font-family: var(--font-padrao);
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--cinza-escuro);
    max-height: 600px;
}

.apresentacao__saida__textos__paragrafo {
    font-family: var(--font-padrao);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--cinza);
}

.apresentacao__saida__btcopia {
    width: 100%;
}

.apresentacao__saida__btcopia__botao {
    width: 100%;
    max-width: 328px;
    padding: 24px;
    border-radius: 24px;
    font-family: Inter;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    background: var(--azul-claro);
    color: var(--azul-escuro);
    border: 1px var(--azul-escuro) solid;
}

.apresentacao__saida__btcopia__botao:hover {
    background: rgb(182, 188, 196);
    color: rgb(7, 42, 85);
    border-color: rgb(7, 42, 85);
}

@media (max-width: 768px) {
    .apresentacao {
        flex-direction: column;
    }

    .apresentacao__logo {
        width: 31.09px;
        height: 50.58px;
        margin: 73.42px 0 0 40px;
    }

    .apresentacao__entrada {
        display: flex;
        flex-direction: column;
        margin: 16% 0 0 40px;
    }

    .apresentacao__entrada__botoes {
        width: 95%;
    }

    .apresentacao__saida {
        width: 90%;
        max-width: 688px;
    }

    .apresentacao__saida__img {
        display: none;
    }
}

@media (max-width: 375px) {

    .apresentacao__entrada__botoes {
        width: 100%;
        flex-direction: column;
    }
}